<!-- <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="../../../assets/imgs/logos/AngularJS-Shield.svg" alt="Angular logo" class="mb-5" style="width:100px; height:100px;">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <button pButton type="button" icon="pi pi-arrow-left" class="mb-5" routerLink="/login" style="width: 50px;" iconPos="left"></button>

            <p-toast></p-toast>
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">

                <div class="w-full md:w-10 mx-auto">
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Lembrar senha</label>
                    <input id="email1" type="text" [(ngModel)]="user.email" name="Email" placeholder="Digite seu email" pInputText class="w-full mb-3" style="padding:1rem;">

                    <button pButton pRipple label="Enviar Código" class="w-full p-3 text-xl" (click)="authenticate()"></button>

                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="../../../assets/imgs/logos/AngularJS-Shield.svg" alt="Angular logo" class="mb-5" style="width:100px; height:100px;">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <p-toast></p-toast>
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">

                <div class="w-full md:w-10 mx-auto">
                    <button pButton type="button" icon="pi pi-arrow-left" class="mb-5" routerLink="/login" style="width: 50px;" iconPos="left"></button>

                    <div class="w-full md:w-10 mx-auto" *ngIf="view == 'sendcode'">

                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email1" type="text" [(ngModel)]="user.email" name="Email" placeholder="Digite seu email" pInputText class="w-full mb-3" style="padding:1rem;">
    
                        <button pButton pRipple label="Enviar" class="w-full p-3 text-xl" (click)="sendCode()"></button>
    
                    </div>

                    <div class="w-full md:w-10 mx-auto" *ngIf="view == 'changePassword'">
                        <h3>Mude sua senha</h3>
                        <h5>Por favor, insira o código que você recebeu em seu e-mail e a nova senha.</h5>
                        <div class="card">
                            
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12"> 
                                    <label for="email">Email</label>
                                    <input id="email" type="text"  name="email" [(ngModel)]="userChangePassword.email" placeholder="Digite seu email" disabled pInputText class="w-full mb-3" style="padding:1rem;">
                                </div>
                                <div class="field col-12">
                                    <label htmlFor="name">Code</label>
                                    <input pInputText id="name" [(ngModel)]="userChangePassword.code" placeholder="Digite o código recebido" type="text" class="w-full mb-3" style="padding:1rem;" />
                                </div>
                                <div class="field col-12"> 
                                    <label for="password">Senha</label>
                                    <p-password id="password" [(ngModel)]="userChangePassword.password" name="password" placeholder="Digita a senha" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
                                </div>
                                <div class="field col-12"> 
                                    <label for="password2">Senha novamente</label>
                                    <p-password id="password2" [(ngModel)]="userChangePassword.passwordConfirm" name="password2" placeholder="Repita a senha" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
                                </div>
                                <button pButton pRipple label="Registar" (click)="changePassword()" class="w-full p-3 text-xl">Mudar senha</button>
                            </div>
                        </div>
                    </div>


                    <div class="w-full md:w-10 mx-auto" *ngIf="view == 'passwordChanged'">
                        <div class="card">
                            <h3 class="text-center">Senha alterada!</h3>
                            <h5 class="text-center">tente entrar novamente.</h5>
                        </div>
                    </div>
                  

                </div>
            </div>
        </div>
    </div>
</div>

